In [ ]:
import pandas as pd
import numpy as np

ratings = pd.read_csv('./data/IMDb Ratings.tsv', sep='\t', na_values='\\N')
basics = pd.read_csv('./data/IMDB Title Basics.tsv', sep='\t', na_values='\\N')
principals = pd.read_csv('./data/IMDb Title Principals.tsv', sep='\t', na_values='\\N')

/var/folders/dx/n5twml510cl7__8h1673j4mr0000gn/T/ipykernel_6026/3059190930.py:5: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  basics = pd.read_csv('./data/IMDB Title Basics.tsv', sep='\t', na_values='\\N')

In [ ]:
ratings.head()

      tconst  averageRating  numVotes
0  tt0000001            5.7      2136
1  tt0000002            5.5       289
2  tt0000003            6.4      2170
3  tt0000004            5.3       185
4  tt0000005            6.2      2902

In [ ]:
basics.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0.0,1894.0,NaN,1.0,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0.0,1892.0,NaN,5.0,"Animation,Short"
2,tt0000003,short,Poor Pierrot,Pauvre Pierrot,0.0,1892.0,NaN,5.0,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0.0,1892.0,NaN,12.0,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0.0,1893.0,NaN,1.0,Short

In [ ]:
principals.head()